<div class="container  ">
	<div class="row d-flex justify-content-center">
		<h1 class="pt-12" style="font-size: 20px;"> QUE TAREAS PIENSA HACER HOY </h1>
		<div class="col-10 text-center pt-12 ">
			
			<!-- fila 1  -->
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Tus productos</h5>
							<p class="card-text pb-3">Puedes modificar, eliminar y editar tus productos.</p>
							<a href="gestionproducto" class="btn btn-primary">Gestionar Productos</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text pb-3">With supporting text below as a natural lead-in to additional content.</p>
							<a href="dashboard" class="btn btn-primary">Dashboard</a>
						</div>
					</div>
				</div>
			</div>
				
			<!-- fila 2 -->
			<div class="row pt-12 d-flex justify-content-center">
				
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text pb-3">With supporting text below as a natural lead-in to additional content.</p>
							<a href="reportes" class="btn btn-primary">Reportes</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>