<div class="container margin-top 5%">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header margin-top 5%">
                </div>
                <div class="card-body">
                    <h5 class="card-title">PERSONALIZA TU PRENDA</h5>
                    <p class="card-text">Aquí puedes subir una foto, frase, dibujo que quieras estampar en tu polo</p>
                    <div class="input-group justify-content-center">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Subir <input accept=".jpg,.png,.jpeg,.gif" class="hidden" name="subirima" type="file"
                                    id="banner">
                            </span>
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>